*{
  font-family:  sans-serif;
}

body{
  margin:0;
  padding: 0;
  background-color: #e2d4;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 350px;
  padding: 20px;
  background-image: linear-gradient(45deg, #2f4680, #500ae4);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-container{
  height: 50px;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 25px;
  color: #626262;
  background: #ebfffc;
  font-size: 18px;
  display: flex;
  align-items: center;
  verflow: hidden;

}

.cityInput{
  flex: 1;
  height: 30px;
  border: none;
  font-size: 16px;
  outline: none;
  padding: 10px;
}

.search-icon{
  padding: 10px;
  height: 30px;
  cursor: pointer;
}

.search-icon img{
  margin-top: 5px;
}

.image{
  text-align: center;
  height: 150px;
  margin-bottom: 10px;
}

.image img{
  width: 160px;
  height: 160px;
}

.temp, .location, .country{
  margin-top: 5px;
  font-size: 45px;
  color: #fffefe;
  text-transform: uppercase;
  text-align: center;
}

.temp{
  font-weight: 500;
}

.location{
  color: #ffbb00;
  font-weight: 600;
  font-size: 40px;
}

.country {
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
}

.cord{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  text-align: center;
  color: #ffffff;
}

.cord div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.cord div span{
  font-size: 14px;
}

.humidity-percent, .wind-percent,
.cord div span :nth-child(2) {
  font-size: 18px;
  font-weight: bold;
  color: #ffbb00;
  padding-top: 5px;
}

.data-container{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.element{
  text-align: center;
}

.icon{
  height: 50px;
  width: 50px;
}

.text{
  font-size: 12px;
  color: #ffffff
}

.copyright{
  text-align: center;
  font-size: 12px;
  color: #ffbb00;
}

.copyright span{
  color: #ffffff;
}

.city-not-found, .loading-message,
.error-message{
margin-top: 10px;
color: #cccccc;
font-size: 25px;
font-weight: 400;
text-align: center;
}